<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/admin_layout"
>
<head>
    <meta charset="UTF-8">
    <title>Добавление фильма</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container mt-5">
        <h1>Редактирование пользователя</h1>
        <form th:method="post" th:action="@{/admin/films/add}" th:object="${film}">
            <div class="form-group mb-3">
                <label for="name">Имя:</label>
                <input type="text" class="form-control" id="name" th:field="*{name}"/>
            </div>

            <div class="form-group mb-3">
                <label for="description">Описание:</label>
                <textarea type="text" class="form-control" id="description" th:field="*{description}"></textarea>
            </div>

            <div class="form-group mb-3">
                <label for="actor">Цена:</label>
                <input type="number" class="form-control" id="actor" th:field="*{actor}"/>
            </div>

            <div class="form-group mb-3">
                <label for="discountPrice">Цена по скидке</label>
                <input type="text" class="form-control" id="discountPrice" th:field="*{description}"/>
            </div>


            <div class="form-group mb-3">
                <label for="image">Картинка:</label>
                <input type="text" class="form-control" id="image" th:field="*{image}"/>
            </div>

            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="/admin/users" class="btn btn-secondary">Отменить</a>
        </form>
    </div>
</section>
</body>
</html>