<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout"
>
<link rel="stylesheet" href="/style/style.css">
<head>
    <meta charset="UTF-8">
    <title>Изменить данные профиля</title>
</head>
<body>

<section layout:fragment="content">

    <div class="login-block container">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">
                    Редактирование профиля
                </h4>
            </div>
            <form th:action="@{/user/edit}" th:object="${userDTO}" method="post" class="mx-5">
                <div class="form-group mb-3">
                    <label for="username">Новое имя</label>
                    <input type="text" class="form-control" id="username" th:field="*{username}" required>
                    <div th:if="${#fields.hasErrors('username')}" class="alert alert-danger mt-2"
                         th:errors="*{username}" role="alert">
                    </div>
                </div>

                <div class="form-group mb-3 ">
                    <label for="image">Новый аватар (URL:):</label>
                    <input type="text" class="form-control" id="image" th:field="*{image}" required>
                    <div th:if="${#fields.hasErrors('image')}" class="alert alert-danger mt-5" role="alert"
                         th:errors="*{image}">
                    </div>
                </div>

                <div class="form-group mb-3 ">
                    <label for="description">Описание профиля:</label>
                    <textarea class="form-control" id="description" th:field="*{description}" required></textarea>
                    <div th:if="${#fields.hasErrors('description')}" class="alert alert-danger mt-2" role="alert"
                         th:errors="*{description}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a th:href="@{/user/profile}" class="btn btn-outline">Отмена</a>
            </form>
        </div>
    </div>

    <!--    <div class="container mt-5">-->
    <!--        <div class="card">-->
    <!--            <div class="card-header">-->
    <!--                <h4 class="mb-0">-->
    <!--                    Редактирование профиля-->
    <!--                </h4>-->
    <!--            </div>-->
    <!--            <div class="card-body">-->
    <!--                <form th:action="@{/user/edit}" th:object="${userDTO}" method="post">-->
    <!--                    <div class="form-group mb-3">-->
    <!--                        <label for="username">Новое имя</label>-->
    <!--                        <input type="text" class="form-control" id="username" th:field="*{username}" required>-->
    <!--                        <div th:if="${#fields.hasErrors('username')}" class="alert alert-danger mt-2" th:errors="*{username}" role="alert">-->
    <!--                        </div>-->
    <!--                    </div>-->

    <!--                    <div class="form-group mb-3 ">-->
    <!--                        <label for="image">Новый аватар (URL:):</label>-->
    <!--                        <input type="text" class="form-control" id="image" th:field="*{image}" required>-->
    <!--                        <div th:if="${#fields.hasErrors('image')}" class="alert alert-danger mt-2" role="alert" th:errors="*{image}">-->
    <!--                        </div>-->
    <!--                    </div>-->

    <!--                    <div class="form-group mb-3 ">-->
    <!--                        <label for="description">Описание профиля:</label>-->
    <!--                        <textarea class="form-control" id="description" th:field="*{description}" required></textarea>-->
    <!--                        <div th:if="${#fields.hasErrors('description')}" class="alert alert-danger mt-2" role="alert" th:errors="*{description}">-->
    <!--                        </div>-->
    <!--                    </div>-->

    <!--                    <button type="submit" class="btn btn-primary">Сохранить</button>-->
    <!--                    <a th:href="@{/user/profile}" class="btn btn-outline">Отмена</a>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

</section>
</body>
</html>