<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css">
    <title>Регисттрация аккаунта</title>
</head>
<body>
<section>
    <div class="login-block container">
        <h1>Регистрация пользователя</h1>
        <form method="POST" th:action="@{/auth/register}" th:object="${user}">
            <div class="form-group">
                <input th:field="*{username}" type="text" class="form-control" placeholder="Your name" id="username"
                       name="username" required>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                     class="alert alert-danger mt-1"></div>
            </div>

            <hr class="hr-xs">
            <div class="form-group">
                <input th:field="*{email}" type="email" placeholder="Your email" class="form-control" id="email"
                       name="email" required>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                     class="alert alert-danger mt-1"></div>
            </div>
            <hr class="hr-xs">

            <div class="form-group">
                <input th:field="*{password}" type="password" class="form-control" placeholder="Your password"
                       id="password" name="password" required>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                     class="alert alert-danger mt-1"></div>
            </div>
            <div class="w-100" style="text-align: left">
                <button class="btn btn-success btn-block" type="submit">Зарегистрироваться</button>
            </div>
        </form>
        <div class="w-100" style="text-align: left">
            <p class="mb-3">Уже зарегистрированы?</p>
            <a href="/auth/login" class="btn btn-primary mb-3 mr-3">Войти</a>
            <a href="/" class="btn btn-secondary mb-3">Вернуться на сайт</a>
        </div>
    </div>
</section>
</body>
</html>